#include "\masm32\include\resource.h"
;################################################################################
#define monstr_menu 10000

#define ID_LANG_ENG 2001
#define ID_LANG_RUS 2002

#define ID_MONSTER_COMBOX 		300
#define ID_UPGRADE 				301
#define ID_TRANSFORMATOR 		302
#define ID_SPELL 				303
#define ID_ARROW 				304
#define ID_RAY 					305
#define ID_CLOUD 				306
#define ID_CATAPULT 			307
#define ID_MAGIC1 				308
#define ID_MAGIC2 				309
#define ID_MAGIC3 				310
#define ID_MAGIC4 				311
#define ID_MAGIC5 				312
#define ID_IMMUN 				313
#define ID_HATE 				314
#define ID_RES_GOLEM 			315
#define ID_REBIRTH   			316
#define ID_IMPOSED_SPELL_1   			317
#define ID_IMPOSED_SPELL_2   			318
#define ID_IMPOSED_SPELL_3  			319
#define ID_IMPOSED_SPELL_1_lvl   			320
#define ID_IMPOSED_SPELL_2_lvl   			321
#define ID_IMPOSED_SPELL_3_lvl  			322
#define ID_DEMONOLOGY  			323

#define ID_SAVE 2100
#define ID_TO_UPGRADE 2101
#define ID_DEF 121
#define ID_WAV 122
#define ID_FLAGS 2019
#define ID_SHOOT 2021
#define ID_ARTILLERY 2024
#define ID_SIEGE_WEAPON 2025
#define ID_RAY_SHOOT 2030
#define ID_NO_MORAL 2036
#define ID_ATTACK_ALL_AROUND 2038
#define ID_ADV_SHOOT 2039
#define ID_LEVEL 151
#define ID_TOWN 2008
#define ID_COUNTRE_STRIKES 212
#define ID_NO_WALL_PENALTY 2058
#define ID_ShootingAdjacent 2059
#define ID_SNIPER 2060
#define ID_Answer_back_Shooting 2061
#define ID_STRIKE_RETURN 2062
#define ID_FIRST_ATTACK 2063
#define ID_RES_GNOM 231
#define ID_ALWAYS_MORAL 2073
#define ID_ALWAYS_LUCK 2074
#define ID_FEAR 2075
#define ID_FEARLESS 2076
#define ID_CAVA_BONUS 2077
#define ID_IMMUN_CAVA 2078
#define ID_MAGIC_AURA 2079
#define ID_ESPIONAGE 2080
#define ID_FIRESHIELD 2081
#define ID_MAGIC_MIRROR 2082
#define ID_MAGIC_CHANNEL 2083
#define ID_THREEHEAD 2084
#define ID_DEATH_STRIKE 245
#define ID_REGEN_PERCENT 246
#define ID_REGEN_NUMBER 247
#define ID_REDUCE_TARGET_DEFENCE 248
#define ID_MANA_MINUS 249
#define ID_MANA_PLUS 250
#define ID_MANA_DRAIN 251
#define ID_FLIGHT_ATTACK 253
#define ID_AROUND1 254
#define ID_AROUND2 255
#define ID_DEAFEN 256
#define ID_RANDOM_GENERATION 2099
#define ID_FIREWALL 2132

#define ID_PLURAL 5000
#define ID_DESCRIPTION 5001

#define ID_COST_WOOD    70
#define ID_COST_MERCURY 71
#define ID_COST_ORE     72
#define ID_COST_SULFUR  73
#define ID_COST_CRYSTAL 74
#define ID_COST_GEMS    75
#define ID_COST_GOLD    76
#define ID_FIGHT_VALUE  77
#define ID_AI_VALUE     78
#define ID_GROWTH       79
#define ID_HORDE        80
#define ID_HEALTH       81
#define ID_SPEED		82
#define ID_ATTACK		83
#define ID_DEFENSE		84
#define ID_DAMAGE_MIN	85
#define ID_DAMAGE_MAX	86
#define ID_SHOTS		87
#define ID_SPELLS		88
#define ID_ADV_LOW		89
#define ID_ADV_HIGH		90

#define ID_URMOX		91
#define ID_URMOY		92
#define ID_RMOX			93
#define ID_RMOY			94
#define ID_LRMOX		95
#define ID_LRMOY		96
#define ID_SHOOTPROT	97
#define ID_DEFENSEBONUS	98
#define ID_BLOCK_DAMAGE	99

#define ID_Missile_Frame_Angles 5002
#define ID_Troop_Count_Location_Offset 5014
#define ID_Attack_Climax_Frame 5015
#define ID_Time_between_fidgets 5016
#define ID_Walk_Animation_Time 5017
#define ID_Attack_Animation_Time 5018
#define ID_Flight_Animation_Distance 5019

#define ID_COPY			10000
#define ID_PASTE	 	10001
#define ID_PASTE_CRANIM	10002
#define ID_ADD			10003
;################################################################################
500 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "MCredit.ico"
501 BITMAP DISCARDABLE "smalres0.bmp"
502 BITMAP DISCARDABLE "smalres1.bmp"
503 BITMAP DISCARDABLE "smalres2.bmp"
504 BITMAP DISCARDABLE "smalres3.bmp"
505 BITMAP DISCARDABLE "smalres4.bmp"
506 BITMAP DISCARDABLE "smalres5.bmp"
507 BITMAP DISCARDABLE "smalres6.bmp"
508 BITMAP DISCARDABLE "poster.bmp"
2000  IMAGE  DISCARDABLE "blank.jpg"

100 DIALOGEX 0,0,674,366
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|DS_CENTER
BEGIN
  CONTROL "Chinese : ",1000,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_RIGHT,18,14,56,10
  CONTROL "Japanese : ",1001,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_RIGHT,18,26,56,10
  CONTROL "Russian : ",1002,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_RIGHT,18,38,56,10
  CONTROL "Greek : ",1003,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_RIGHT,18,50,56,10
  CONTROL "Hindi : ",1004,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_RIGHT,18,62,56,10
  CONTROL "Vietnamese : ",1005,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_RIGHT,18,74,56,10
  CONTROL "Georgian : ",1006,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_RIGHT,18,86,56,10
  CONTROL "Serbian : ",1007,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_RIGHT,18,98,56,10
  CONTROL "Armenian : ",1008,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_RIGHT,18,110,56,10
  CONTROL "Korean : ",1009,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_RIGHT,18,122,56,10
  CONTROL "Chinese",1250,"Static",WS_CHILDWINDOW|WS_VISIBLE,76,14,268,10
  CONTROL "Japanese",1251,"Static",WS_CHILDWINDOW|WS_VISIBLE,76,26,268,10
  CONTROL "Russian",1252,"Static",WS_CHILDWINDOW|WS_VISIBLE,76,38,268,10
  CONTROL "Greek",1253,"Static",WS_CHILDWINDOW|WS_VISIBLE,76,50,268,10
  CONTROL "Hindi",1254,"Static",WS_CHILDWINDOW|WS_VISIBLE,76,62,268,10
  CONTROL "Vietnamese",1255,"Static",WS_CHILDWINDOW|WS_VISIBLE,76,74,268,10
  CONTROL "Georgian",1256,"Static",WS_CHILDWINDOW|WS_VISIBLE,76,86,268,10
  CONTROL "Serbian",1257,"Static",WS_CHILDWINDOW|WS_VISIBLE,76,98,268,10
  CONTROL "Armenian",1258,"Static",WS_CHILDWINDOW|WS_VISIBLE,76,110,268,10
  CONTROL "Korean",1259,"Static",WS_CHILDWINDOW|WS_VISIBLE,76,122,268,10
  CONTROL "OK",1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,288,138,56,14
END


37 DIALOGEX MOVEABLE IMPURE LOADONCALL DISCARDABLE 0,0,674,366
MENU monstr_menu
STYLE 0x10CA0800
CAPTION "Master Of Puppets - Creatures Editor (Typhon edition)"
FONT 8, "MS Sans Serif",0,0,0
{
	GROUPBOX		"", 2003,2,0,166,25, BS_CENTER | BS_FLAT
		COMBOBOX	ID_MONSTER_COMBOX,5,9,160,352, WS_VSCROLL | CBS_DROPDOWN | WS_TABSTOP
	GROUPBOX		"", 2004,2,104,80,25, BS_CENTER
		EDITTEXT    ID_DEF, 5, 113, 73, 12, ES_CENTER | ES_AUTOHSCROLL		
	GROUPBOX		"", 2005,84,104,40,25, BS_CENTER
		EDITTEXT    ID_LEVEL,87,113,33,12,ES_CENTER | ES_AUTOHSCROLL | ES_NUMBER
		CONTROL     "Spin1",1917,"msctls_updown32",0x000000B6,107,34,56,12	
	GROUPBOX		"", 2006,126,104,42,25, BS_CENTER
		EDITTEXT    ID_WAV, 129, 113, 35, 12, ES_AUTOHSCROLL | ES_CENTER | ES_UPPERCASE		
	GROUPBOX		"", 2102,2,25,166,25, BS_CENTER	
		EDITTEXT    ID_PLURAL,5,34,160,12		
	GROUPBOX		"", 2103,2,51,166,53, BS_CENTER	
		CONTROL "", ID_DESCRIPTION, "Edit", WS_VSCROLL | WS_TABSTOP | 0x00000004, 5, 60, 160, 39, WS_EX_CLIENTEDGE
	GROUPBOX        "", 2007,2,130,166,62, BS_CENTER	
	GROUPBOX "", 2101, 5, 136, 46, 52, BS_CENTER
		AUTORADIOBUTTON   "", ID_TOWN, 55, 139, 55, 10, WS_GROUP
		AUTORADIOBUTTON   "", 2009, 55, 149, 55, 10
		AUTORADIOBUTTON   "", 2010, 55, 159, 55, 10
		AUTORADIOBUTTON   "", 2011, 55, 169, 55, 10
		AUTORADIOBUTTON   "", 2012, 55, 179, 55, 10
		AUTORADIOBUTTON   "", 2013, 110, 139, 55, 10
		AUTORADIOBUTTON   "", 2014, 110, 149, 55, 10
		AUTORADIOBUTTON   "", 2015, 110, 159, 55, 10
		AUTORADIOBUTTON   "", 2016, 110, 169, 55, 10
		AUTORADIOBUTTON   "", 2017, 110, 179, 55, 10
	GROUPBOX		"", 2018,2,192,166,172, BS_CENTER	
		AUTOCHECKBOX    "", ID_FLAGS, 5, 202, 80, 10
		AUTOCHECKBOX    "", 2020, 5, 212, 80, 10
		AUTOCHECKBOX    "", ID_SHOOT, 5, 222, 80, 10
		AUTOCHECKBOX    "", 2022, 5, 232, 80, 10
		AUTOCHECKBOX    "", 2023, 5, 242, 80, 10
		AUTOCHECKBOX    "", ID_ARTILLERY, 5, 252, 80, 10
		AUTOCHECKBOX    "", ID_SIEGE_WEAPON, 5, 262, 80, 10
		AUTOCHECKBOX    "", 2026, 5, 272, 80, 10
		AUTOCHECKBOX    "", 2027, 5, 282, 80, 10
		AUTOCHECKBOX    "", 2028, 5, 292, 80, 10
		AUTOCHECKBOX    "", 2029, 5, 302, 80, 10
		AUTOCHECKBOX    "", ID_RAY_SHOOT, 5, 312, 80, 10
		AUTOCHECKBOX    "", 2031, 5, 322, 80, 10
		AUTOCHECKBOX    "", 2032, 5, 332, 80, 10
		AUTOCHECKBOX    "", 2033, 5, 342, 80, 10
		AUTOCHECKBOX    "", 2034, 5, 352, 80, 10	
		AUTOCHECKBOX    "", 2035, 85, 202, 76, 10
		AUTOCHECKBOX    "", ID_NO_MORAL, 85, 212, 76, 10
		AUTOCHECKBOX    "", 2037, 85, 222, 76, 10
		AUTOCHECKBOX    "", ID_ATTACK_ALL_AROUND, 85, 232, 76, 10
		AUTOCHECKBOX    "", ID_ADV_SHOOT, 85, 242, 76, 10
		AUTOCHECKBOX    "", 2040, 85, 252, 76, 10
		AUTOCHECKBOX    "", 2041, 85, 262, 76, 10
		AUTOCHECKBOX    "", 2042, 85, 272, 76, 10
		AUTOCHECKBOX    "", 2043, 85, 282, 76, 10
		AUTOCHECKBOX    "", 2044, 85, 292, 76, 10
		AUTOCHECKBOX    "", 2045, 85, 302, 76, 10
		AUTOCHECKBOX    "", 2046, 85, 312, 76, 10
		AUTOCHECKBOX    "", 2047, 85, 322, 76, 10
		AUTOCHECKBOX    "", 2048, 85, 332, 76, 10
		AUTOCHECKBOX    "", 2049, 85, 342, 76, 10
		AUTOCHECKBOX    "", 2050, 85, 352, 76, 10
	PUSHBUTTON		"->", ID_TO_UPGRADE, 170,3,14,22,0, BS_TEXT;BS_NOTIFY
	GROUPBOX		"", 2051,186,0,156,25, BS_CENTER
		COMBOBOX	ID_UPGRADE,189,9,150,352,CBS_DROPDOWN | WS_VSCROLL | 1
	GROUPBOX		"", 2052,344,0,160,25, BS_CENTER
		COMBOBOX	ID_TRANSFORMATOR,348,9,154,352,CBS_DROPDOWN | WS_VSCROLL | 1					
	GROUPBOX    "", 2053,278,25,64,25, BS_CENTER	
		COMBOBOX    ID_RAY,281,34,58,275,CBS_DROPDOWN | WS_VSCROLL | 1
	GROUPBOX    "",2054,170,25,106,25, BS_CENTER
		EDITTEXT    ID_ARROW, 173, 34, 99, 12, ES_CENTER | ES_AUTOHSCROLL
	GROUPBOX    "",2055,344,25,86,25, BS_CENTER
		COMBOBOX	ID_CLOUD,347,34,80,275,CBS_DROPDOWN | WS_VSCROLL | 1
	GROUPBOX    "",2056,432,25,72,25, BS_CENTER
		COMBOBOX	ID_CATAPULT,435,34,66,275,CBS_DROPDOWN | WS_VSCROLL | 1						
	GROUPBOX    "", 2057,170,51,50,25, BS_CENTER	
		EDITTEXT    ID_COUNTRE_STRIKES,181,60,28,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER			
		CONTROL     "Spin1",1918,"msctls_updown32",0x000000B6,240,60,10,12
	AUTOCHECKBOX    "", ID_NO_WALL_PENALTY, 224, 56, 82, 10
	AUTOCHECKBOX    "", ID_ShootingAdjacent, 224, 66, 82, 10
	AUTOCHECKBOX    "", ID_SNIPER, 314, 56, 82, 10
	AUTOCHECKBOX    "", ID_Answer_back_Shooting, 314, 66, 82, 10
	AUTOCHECKBOX    "", ID_STRIKE_RETURN, 400, 56, 100, 10
	AUTOCHECKBOX    "", ID_FIRST_ATTACK, 400, 66, 100, 10	
	GROUPBOX    "",2064,170,76,102,40, BS_CENTER
		COMBOBOX	ID_MAGIC1,173,85,96,275,CBS_DROPDOWN | WS_VSCROLL | 1	
		COMBOBOX	ID_MAGIC2,173,100,96,275,CBS_DROPDOWN | WS_VSCROLL | 1
	GROUPBOX    "",2065,170,116,102,77, BS_CENTER
		COMBOBOX	ID_MAGIC3,173,125,96,275,CBS_DROPDOWN | WS_VSCROLL | 1	
		COMBOBOX	ID_MAGIC4,173,140,96,275,CBS_DROPDOWN | WS_VSCROLL | 1	
		COMBOBOX	ID_MAGIC5,173,155,96,275,CBS_DROPDOWN | WS_VSCROLL | 1
	GROUPBOX    "",2066,170,168,102,25, BS_CENTER
		COMBOBOX	ID_SPELL,173,177,96,275,CBS_DROPDOWN | WS_VSCROLL | 1
	GROUPBOX    "",2067,170,193,102,25, BS_CENTER
		COMBOBOX	ID_IMMUN,173,202,96,275,CBS_DROPDOWN | WS_VSCROLL | 1				
	GROUPBOX    "",2068,170,219,102,25, BS_CENTER
		COMBOBOX	ID_HATE,173,228,96,275,CBS_DROPDOWN | WS_VSCROLL | 1
	GROUPBOX    "",2069,170,244,334,39, BS_CENTER
	GROUPBOX    "",2070,173,252,46,27, BS_CENTER
		LTEXT       "",2071,175,265,6,7
		EDITTEXT    ID_RES_GNOM,182,263,28,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER			
		CONTROL     "Spin1",1919,"msctls_updown32",0x000000B6,240,60,10,12	
		LTEXT       "%",101,210,265,6,7	
	GROUPBOX    "",2072,222,252,278,27, BS_CENTER
	    COMBOBOX    ID_RES_GOLEM,226,263,270,275,CBS_DROPDOWN | WS_VSCROLL | 1		
	AUTOCHECKBOX    "", ID_ALWAYS_MORAL, 276, 76, 70, 10
	AUTOCHECKBOX    "", ID_ALWAYS_LUCK, 276, 86, 70, 10
	AUTOCHECKBOX    "", ID_FEAR, 350, 76, 60, 10
	AUTOCHECKBOX    "", ID_FEARLESS, 350, 86, 60, 10
	AUTOCHECKBOX    "", ID_CAVA_BONUS, 416, 76, 90, 10
	AUTOCHECKBOX    "", ID_IMMUN_CAVA, 416, 86, 90, 10	
	AUTOCHECKBOX    "", ID_MAGIC_AURA, 276, 96, 70, 10
	AUTOCHECKBOX    "", ID_ESPIONAGE, 350, 96, 60, 10	
	AUTOCHECKBOX    "", ID_FIRESHIELD, 416, 96, 90, 10	
	AUTOCHECKBOX    "", ID_MAGIC_MIRROR, 276, 106, 70, 10
	AUTOCHECKBOX    "", ID_MAGIC_CHANNEL, 350, 106, 60, 10	
	AUTOCHECKBOX    "", ID_THREEHEAD, 416, 106, 90, 10	
	GROUPBOX    "",2085,283,116,46,25, BS_CENTER
		LTEXT       "",2086,285,127,6,7
		EDITTEXT    ID_DEATH_STRIKE,292,125,28,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER			
		CONTROL     "Spin1",1920,"msctls_updown32",0x000000B6,240,60,10,12	
		LTEXT       "%",101,320,127,6,7	
	GROUPBOX    "",2087,343,116,160,25, BS_CENTER
		LTEXT       "",2088,345,127,25,7,ES_CENTER
		EDITTEXT    ID_REGEN_PERCENT,372,125,28,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER			
		CONTROL     "Spin1",1921,"msctls_updown32",0x000000B6,240,60,10,12	
		LTEXT       "%",101,400,127,6,7		
		LTEXT       "",2089,410,127,36,10,ES_CENTER
		EDITTEXT    ID_REGEN_NUMBER,448,125,50,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER			
		CONTROL     "Spin1",1922,"msctls_updown32",0x000000B6,240,60,10,12	
	GROUPBOX    "",2090,283,142,46,25, BS_CENTER
		EDITTEXT    ID_REDUCE_TARGET_DEFENCE,292,151,28,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER			
		CONTROL     "Spin1",1923,"msctls_updown32",0x000000B6,240,60,10,12
		LTEXT       "%",101,320,153,6,7	
	GROUPBOX    "",2091,340,142,100,25, BS_CENTER
		LTEXT       "_",101,348,150,7,9	
		EDITTEXT    ID_MANA_MINUS,358,151,28,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
		CONTROL     "Spin1",1924,"msctls_updown32",0x000000B6,240,60,10,12
		LTEXT       "+",101,392,153,7,9	
		EDITTEXT    ID_MANA_PLUS,402,151,28,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
		CONTROL     "Spin1",1925,"msctls_updown32",0x000000B6,240,60,10,12		
	GROUPBOX    "",2092,444,142,60,25, BS_CENTER	
		EDITTEXT    ID_MANA_DRAIN,456,151,35,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER			
		CONTROL     "Spin1",1926,"msctls_updown32",0x000000B6,240,60,10,12
	GROUPBOX    "",2093,283,168,46,25, BS_CENTER
		COMBOBOX	ID_REBIRTH,286,177,40,200,CBS_DROPDOWN | WS_VSCROLL | 1		
	;GROUPBOX    "",2094,283,193,46,25, BS_CENTER
		;LTEXT       "D",101,285,204,10,7
		;EDITTEXT    ID_FLIGHT_ATTACK,292,202,28,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER			
		;CONTROL     "Spin1",1927,"msctls_updown32",0x000000B6,240,60,10,12	
		;LTEXT       "%",101,320,204,6,7
	;GROUPBOX    "",2095,420,168,46,25, BS_CENTER
		;LTEXT       "D",101,422,179,10,7
		;EDITTEXT    ID_AROUND1,429,177,28,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER			
		;CONTROL     "Spin1",1928,"msctls_updown32",0x000000B6,240,60,10,12	
		;LTEXT       "%",101,457,179,6,7	
	;GROUPBOX    "",2096,420,193,46,25, BS_CENTER
		;LTEXT       "D",101,422,204,10,7
		;EDITTEXT    ID_AROUND2,429,202,28,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER			
		;CONTROL     "Spin1",1929,"msctls_updown32",0x000000B6,240,60,10,12	
		;LTEXT       "%",101,457,204,6,7	
	;GROUPBOX    "",2097,335,168,46,25, BS_CENTER
		;LTEXT       "",2098,337,179,6,7
		;EDITTEXT    ID_DEAFEN,344,177,28,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER			
		;CONTROL     "Spin1",1930,"msctls_updown32",0x000000B6,240,60,10,12	
		;LTEXT       "%",101,372,179,6,7					
	GROUPBOX    "",2104,506,25,168,40, BS_CENTER
		EDITTEXT    ID_COST_WOOD,522,34,25,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER			
		CONTROL     "Spin1",1931,"msctls_updown32",0x000000B6,240,60,10,12	
		EDITTEXT    ID_COST_MERCURY,564,34,25,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER			
		CONTROL     "Spin1",1932,"msctls_updown32",0x000000B6,240,60,10,12		
		EDITTEXT    ID_COST_ORE,604,34,25,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER			
		CONTROL     "Spin1",1933,"msctls_updown32",0x000000B6,240,60,10,12	
		EDITTEXT    ID_COST_SULFUR,646,34,25,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER			
		CONTROL     "Spin1",1934,"msctls_updown32",0x000000B6,240,60,10,12	
		EDITTEXT    ID_COST_CRYSTAL,522,49,25,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER			
		CONTROL     "Spin1",1935,"msctls_updown32",0x000000B6,240,60,10,12	
		EDITTEXT    ID_COST_GEMS,564,49,25,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER			
		CONTROL     "Spin1",1936,"msctls_updown32",0x000000B6,240,60,10,12		
		EDITTEXT    ID_COST_GOLD,614,49,50,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER			
		CONTROL     "Spin1",1937,"msctls_updown32",0x000000B6,240,60,10,12	
	GROUPBOX    "",2105,506,65,47,25, BS_CENTER	
		EDITTEXT    ID_FIGHT_VALUE,509,74,41,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER			
		CONTROL     "Spin1",1938,"msctls_updown32",0x000000B6,240,60,10,12	
	GROUPBOX    "",2106,555,65,47,25, BS_CENTER	
		EDITTEXT    ID_AI_VALUE,558,74,41,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER			
		CONTROL     "Spin1",1939,"msctls_updown32",0x000000B6,240,60,10,12	
	GROUPBOX    "",2107,604,65,70,25, BS_CENTER	
		EDITTEXT    ID_GROWTH,607,74,30,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER			
		CONTROL     "Spin1",1940,"msctls_updown32",0x000000B6,240,60,10,12	
		LTEXT       "+",101,639,75,7,9	
		EDITTEXT    ID_HORDE,646,74,25,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER			
		CONTROL     "Spin1",1941,"msctls_updown32",0x000000B6,240,60,10,12	
	GROUPBOX    "",2108,506,91,47,25, BS_CENTER	
		EDITTEXT    ID_HEALTH,509,100,41,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER			
		CONTROL     "Spin1",1942,"msctls_updown32",0x000000B6,240,60,10,12
	GROUPBOX    "",2109,555,91,38,25, BS_CENTER
		EDITTEXT    ID_SPEED,558,100,32,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER			
		CONTROL     "Spin1",1943,"msctls_updown32",0x000000B6,240,60,10,12	
	GROUPBOX    "",2110,595,91,38,25, BS_CENTER
		EDITTEXT    ID_ATTACK,598,100,32,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER			
		CONTROL     "Spin1",1944,"msctls_updown32",0x000000B6,240,60,10,12
	GROUPBOX    "",2111,635,91,38,25, BS_CENTER
		EDITTEXT    ID_DEFENSE,638,100,32,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER			
		CONTROL     "Spin1",1945,"msctls_updown32",0x000000B6,240,60,10,12
	GROUPBOX    "",2115,506,117,82,25, BS_CENTER
		EDITTEXT    ID_SHOTS,529,126,36,12,ES_CENTER | ES_AUTOHSCROLL | ES_NUMBER			
		CONTROL     "Spin1",1948,"msctls_updown32",0x000000B6,240,60,10,12	
	GROUPBOX    "",2116,591,117,82,25, BS_CENTER	
		EDITTEXT    ID_SPELLS,614,126,36,12,ES_CENTER | ES_AUTOHSCROLL | ES_NUMBER		
		CONTROL     "Spin1",1949,"msctls_updown32",0x000000B6,240,60,10,12	
	GROUPBOX    "",2112,506,143,82,36, BS_CENTER	
	GROUPBOX    "",2113,509,151,37,25, BS_CENTER
		EDITTEXT    ID_DAMAGE_MIN,512,160,31,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER			
		CONTROL     "Spin1",1946,"msctls_updown32",0x000000B6,240,60,10,12
	GROUPBOX    "",2114,548,151,37,25, BS_CENTER	
		EDITTEXT    ID_DAMAGE_MAX,551,160,31,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER			
		CONTROL     "Spin1",1947,"msctls_updown32",0x000000B6,240,60,10,12
	GROUPBOX    "",2117,591,143,82,36, BS_CENTER	
	GROUPBOX    "",2118,594,151,37,25, BS_CENTER
		EDITTEXT    ID_ADV_LOW,597,160,31,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER			
		CONTROL     "Spin1",1950,"msctls_updown32",0x000000B6,240,60,10,12
	GROUPBOX    "",2119,633,151,37,25, BS_CENTER	
		EDITTEXT    ID_ADV_HIGH,636,160,31,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER			
		CONTROL     "Spin1",1951,"msctls_updown32",0x000000B6,240,60,10,12		
	GROUPBOX    "",2120,170,283,334,81, BS_CENTER
	GROUPBOX    "",2121,173,290,84,27, BS_CENTER
		LTEXT       "X",101,177,301,6,7
		EDITTEXT    ID_URMOX,184,299,28,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER	
		CONTROL     "Spin1",1952,"msctls_updown32",0x000000B6,240,60,10,12	
		LTEXT       "Y",101,217,301,6,7
		EDITTEXT    ID_URMOY,224,299,28,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER	
		CONTROL     "Spin1",1953,"msctls_updown32",0x000000B6,240,60,10,12	
	GROUPBOX    "",2122,173,312,84,27, BS_CENTER
		LTEXT       "X",101,177,323,6,7
		EDITTEXT    ID_RMOX,184,321,28,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER	
		CONTROL     "Spin1",1954,"msctls_updown32",0x000000B6,240,60,10,12	
		LTEXT       "Y",101,217,323,6,7
		EDITTEXT    ID_RMOY,224,321,28,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER	
		CONTROL     "Spin1",1955,"msctls_updown32",0x000000B6,240,60,10,12
	GROUPBOX    "",2123,173,334,84,27, BS_CENTER
		LTEXT       "X",101,177,345,6,7
		EDITTEXT    ID_LRMOX,184,343,28,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER	
		CONTROL     "Spin1",1956,"msctls_updown32",0x000000B6,240,60,10,12	
		LTEXT       "Y",101,217,345,6,7
		EDITTEXT    ID_LRMOY,224,343,28,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER	
		CONTROL     "Spin1",1957,"msctls_updown32",0x000000B6,240,60,10,12
	GROUPBOX    "",2124,382,290,119,72, BS_CENTER	; 98
		CONTROL "",ID_Missile_Frame_Angles,"NewEdit",0x50010001,386,300,35,12,WS_EX_CLIENTEDGE | ES_LEFT
		CONTROL     "Spin1",1958,"msctls_updown32",0x000000B6,240,60,10,12
		CONTROL "",ID_Missile_Frame_Angles+1,"NewEdit",0x50010001,424,300,35,12,WS_EX_CLIENTEDGE | ES_LEFT
		CONTROL     "Spin1",1959,"msctls_updown32",0x000000B6,240,60,10,12
		CONTROL "",ID_Missile_Frame_Angles+2,"NewEdit",0x50010001,462,300,35,12,WS_EX_CLIENTEDGE | ES_LEFT
		CONTROL     "Spin1",1960,"msctls_updown32",0x000000B6,240,60,10,12		
		CONTROL "",ID_Missile_Frame_Angles+3,"NewEdit",0x50010001,386,315,35,12,WS_EX_CLIENTEDGE | ES_LEFT
		CONTROL     "Spin1",1961,"msctls_updown32",0x000000B6,240,60,10,12
		CONTROL "",ID_Missile_Frame_Angles+4,"NewEdit",0x50010001,424,315,35,12,WS_EX_CLIENTEDGE | ES_LEFT
		CONTROL     "Spin1",1962,"msctls_updown32",0x000000B6,240,60,10,12
		CONTROL "",ID_Missile_Frame_Angles+5,"NewEdit",0x50010001,462,315,35,12,WS_EX_CLIENTEDGE | ES_LEFT
		CONTROL     "Spin1",1963,"msctls_updown32",0x000000B6,240,60,10,12		
		CONTROL "",ID_Missile_Frame_Angles+6,"NewEdit",0x50010001,386,330,35,12,WS_EX_CLIENTEDGE | ES_LEFT
		CONTROL     "Spin1",1964,"msctls_updown32",0x000000B6,240,60,10,12
		CONTROL "",ID_Missile_Frame_Angles+7,"NewEdit",0x50010001,424,330,35,12,WS_EX_CLIENTEDGE | ES_LEFT
		CONTROL     "Spin1",1965,"msctls_updown32",0x000000B6,240,60,10,12
		CONTROL "",ID_Missile_Frame_Angles+8,"NewEdit",0x50010001,462,330,35,12,WS_EX_CLIENTEDGE | ES_LEFT
		CONTROL     "Spin1",1966,"msctls_updown32",0x000000B6,240,60,10,12	
		CONTROL "",ID_Missile_Frame_Angles+9,"NewEdit",0x50010001,386,345,35,12,WS_EX_CLIENTEDGE | ES_LEFT
		CONTROL     "Spin1",1967,"msctls_updown32",0x000000B6,240,60,10,12
		CONTROL "",ID_Missile_Frame_Angles+10,"NewEdit",0x50010001,424,345,35,12,WS_EX_CLIENTEDGE | ES_LEFT
		CONTROL     "Spin1",1968,"msctls_updown32",0x000000B6,240,60,10,12
		CONTROL "",ID_Missile_Frame_Angles+11,"NewEdit",0x50010001,462,345,35,12,WS_EX_CLIENTEDGE | ES_LEFT
		CONTROL     "Spin1",1969,"msctls_updown32",0x000000B6,240,60,10,12		
		LTEXT    "",2125,260,290,100,10, ES_LEFT
		EDITTEXT    ID_Troop_Count_Location_Offset,260,299,36,12,ES_CENTER | ES_AUTOHSCROLL | ES_NUMBER	
		CONTROL     "Spin1",1970,"msctls_updown32",0x000000B6,240,60,10,12		
		LTEXT    "",2126,300,298,80,10, ES_RIGHT		
		EDITTEXT    ID_Attack_Climax_Frame,342,307,36,12,ES_CENTER | ES_AUTOHSCROLL | ES_NUMBER	
		CONTROL     "Spin1",1971,"msctls_updown32",0x000000B6,240,60,10,12		
		LTEXT    "",2127,260,312,80,10, ES_LEFT		
		CONTROL    "",ID_Time_between_fidgets,"NewEdit",0x50010001,260,321,36,12,WS_EX_CLIENTEDGE | ES_LEFT
		CONTROL     "Spin1",1972,"msctls_updown32",0x000000B6,240,60,10,12			
		LTEXT    "",2128,300,320,80,10, ES_RIGHT
		CONTROL    "",ID_Walk_Animation_Time,"NewEdit",0x50010001,342,329,36,12,WS_EX_CLIENTEDGE | ES_LEFT	
		CONTROL     "Spin1",1973,"msctls_updown32",0x000000B6,240,60,10,12			
		LTEXT    "",2129,260,334,80,10, ES_LEFT
		CONTROL    "",ID_Attack_Animation_Time,"NewEdit",0x50010001,260,343,36,12,WS_EX_CLIENTEDGE | ES_LEFT	
		CONTROL     "Spin1",1974,"msctls_updown32",0x000000B6,240,60,10,12		
		LTEXT    "",2130,300,342,80,10, ES_RIGHT
		CONTROL    "",ID_Flight_Animation_Distance,"NewEdit",0x50010001,342,351,36,12,WS_EX_CLIENTEDGE | ES_LEFT	
		CONTROL     "Spin1",1975,"msctls_updown32",0x000000B6,240,60,10,12
	GROUPBOX    "",2131,283,193,46,25, BS_CENTER
		EDITTEXT    ID_SHOOTPROT,292,202,28,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER			
		CONTROL     "Spin1",1976,"msctls_updown32",0x000000B6,185,60,10,12	
		LTEXT       "%",101,320,204,6,7
	GROUPBOX    "",2094,340,168,164,55, BS_CENTER
		COMBOBOX	ID_IMPOSED_SPELL_1,343,177,106,275,CBS_DROPDOWN | WS_VSCROLL | 1
		COMBOBOX	ID_IMPOSED_SPELL_2,343,192,106,275,CBS_DROPDOWN | WS_VSCROLL | 1
		COMBOBOX	ID_IMPOSED_SPELL_3,343,207,106,275,CBS_DROPDOWN | WS_VSCROLL | 1
		COMBOBOX	ID_IMPOSED_SPELL_1_lvl,451,177,50,275,CBS_DROPDOWN | WS_VSCROLL | 1
		COMBOBOX	ID_IMPOSED_SPELL_2_lvl,451,192,50,275,CBS_DROPDOWN | WS_VSCROLL | 1
		COMBOBOX	ID_IMPOSED_SPELL_3_lvl,451,207,50,275,CBS_DROPDOWN | WS_VSCROLL | 1
	AUTOCHECKBOX    "", ID_FIREWALL, 506,180, 70, 10
	GROUPBOX		"", 2096,340,220,164,25, BS_CENTER
		COMBOBOX	ID_DEMONOLOGY,343,229,158,352,CBS_DROPDOWN | WS_VSCROLL | 1		
	GROUPBOX    "",2095,283,219,46,25, BS_CENTER
		EDITTEXT    ID_DEFENSEBONUS,292,228,28,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER			
		CONTROL     "Spin1",1977,"msctls_updown32",0x000000B6,185,60,10,12		
		AUTOCHECKBOX    "", ID_RANDOM_GENERATION, 506, 225, 120, 10

	GROUPBOX    "",2097,506,193,46,25, BS_CENTER
		LTEXT       "",2098,509,204,6,7
		EDITTEXT    ID_BLOCK_DAMAGE,515,202,28,12,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER			
		CONTROL     "Spin1",1978,"msctls_updown32",0x000000B6,408,60,10,12	
		LTEXT       "%",324,320,204,6,7

	GROUPBOX		"", 2000,506,0,110,25, BS_CENTER | BS_FLAT
		AUTORADIOBUTTON   "", ID_LANG_ENG, 512, 11, 56, 10, NOT WS_TABSTOP | WS_GROUP
		AUTORADIOBUTTON   "", ID_LANG_RUS, 568, 11, 45, 10, NOT WS_TABSTOP	
		PUSHBUTTON		"", ID_SAVE, 617,3,56,22,0, BS_DEFPUSHBUTTON	
}

monstr_menu MENUEX MOVEABLE IMPURE LOADONCALL DISCARDABLE
BEGIN
    MENUITEM "Copy all states",ID_COPY
    MENUITEM "Paste all states",ID_PASTE
    MENUITEM "Paste CrAnim",ID_PASTE_CRANIM
END
;####################################################################################