#include "\masm32\include\resource.h"
;################################################################################
#define ID_LANG_DESC 2016
#define ID_LANG_ENG 2017
#define ID_LANG_RUS 2018
#define ID_SAVE 2019

#define ID_CASTLE 2021
#define ID_RAMPART 2022
#define ID_TOWER 2023
#define ID_INFERNO 2024
#define ID_NECROPOLIS 2025
#define ID_DUNGEON 2026
#define ID_STRONGHOLD 2027
#define ID_FORTRESS 2028 
#define ID_CONFLUX 2029
;################################################################################
500 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "MTwEdit.ico"

37 DIALOGEX MOVEABLE IMPURE LOADONCALL DISCARDABLE 0,0,510,277
STYLE 0x10CA0800
CAPTION "Master Of Puppets - Towns Editor v.1.0"
FONT 8, "MS Sans Serif"
BEGIN		
	CONTROL "", 2020, "Button", 0x00000007 | BS_CENTER, 2,3,161,56, WS_EX_DLGMODALFRAME
		AUTORADIOBUTTON   "", ID_CASTLE, 7, 15, 50, 12, NOT WS_TABSTOP | WS_GROUP | BS_PUSHLIKE
		AUTORADIOBUTTON   "", ID_RAMPART, 57, 15, 50, 12, NOT WS_TABSTOP | BS_PUSHLIKE
		AUTORADIOBUTTON   "", ID_TOWER, 107, 15, 50, 12, NOT WS_TABSTOP | BS_PUSHLIKE	
		AUTORADIOBUTTON   "", ID_INFERNO, 7, 28, 50, 12, NOT WS_TABSTOP | BS_PUSHLIKE
		AUTORADIOBUTTON   "", ID_NECROPOLIS, 57, 28, 50, 12, NOT WS_TABSTOP | BS_PUSHLIKE
		AUTORADIOBUTTON   "", ID_DUNGEON, 107, 28, 50, 12, NOT WS_TABSTOP | BS_PUSHLIKE	
		AUTORADIOBUTTON   "", ID_STRONGHOLD, 7, 41, 50, 12, NOT WS_TABSTOP | BS_PUSHLIKE
		AUTORADIOBUTTON   "", ID_FORTRESS, 57, 41, 50, 12, NOT WS_TABSTOP | BS_PUSHLIKE
		AUTORADIOBUTTON   "", ID_CONFLUX, 107, 41, 50, 12, NOT WS_TABSTOP | BS_PUSHLIKE	
	LTEXT "", 2030,2,60,161,10, ES_CENTER | BS_VCENTER			
		LISTBOX	300,2,70,161,187, NOT WS_TABSTOP | WS_VSCROLL | ES_AUTOHSCROLL
	GROUPBOX "", 2031,166,3,341,235, BS_CENTER		
		AUTOCHECKBOX    "", 32, 173, 13, 150, 10		
		AUTOCHECKBOX    "", 33, 173, 23, 150, 10
		AUTOCHECKBOX    "", 34, 173, 33, 150, 10
		AUTOCHECKBOX    "", 35, 173, 43, 150, 10
		AUTOCHECKBOX    "", 36, 173, 53, 150, 10
		AUTOCHECKBOX    "", 37, 173, 63, 150, 10
		AUTOCHECKBOX    "", 38, 173, 73, 150, 10
		AUTOCHECKBOX    "", 39, 173, 83, 150, 10
		AUTOCHECKBOX    "", 40, 173, 93, 150, 10
		AUTOCHECKBOX    "", 41, 173, 103, 150, 10
		AUTOCHECKBOX    "", 42, 173, 113, 150, 10
		AUTOCHECKBOX    "", 43, 173, 123, 150, 10
		AUTOCHECKBOX    "", 44, 173, 133, 150, 10
		AUTOCHECKBOX    "", 45, 173, 143, 150, 10
		AUTOCHECKBOX    "", 46, 173, 153, 150, 10
		AUTOCHECKBOX    "", 47, 173, 163, 150, 10	
		AUTOCHECKBOX    "", 48, 173, 173, 150, 10		
		AUTOCHECKBOX    "", 49, 173, 183, 150, 10
		AUTOCHECKBOX    "", 50, 173, 193, 150, 10
		AUTOCHECKBOX    "", 51, 173, 203, 150, 10		
		AUTOCHECKBOX    "", 52, 173, 213, 150, 10
		AUTOCHECKBOX    "", 53, 173, 223, 150, 10		
		AUTOCHECKBOX    "", 54, 340, 13, 150, 10	
		AUTOCHECKBOX    "", 55, 340, 23, 150, 10
		AUTOCHECKBOX    "", 56, 340, 33, 150, 10
		AUTOCHECKBOX    "", 57, 340, 43, 150, 10
		AUTOCHECKBOX    "", 58, 340, 53, 150, 10
		AUTOCHECKBOX    "", 59, 340, 63, 150, 10
		AUTOCHECKBOX    "", 60, 340, 73, 150, 10
		AUTOCHECKBOX    "", 61, 340, 83, 150, 10
		AUTOCHECKBOX    "", 62, 340, 93, 150, 10
		AUTOCHECKBOX    "", 63, 340, 103, 150, 10
		AUTOCHECKBOX    "", 64, 340, 113, 150, 10
		AUTOCHECKBOX    "", 65, 340, 123, 150, 10
		AUTOCHECKBOX    "", 66, 340, 133, 150, 10
		AUTOCHECKBOX    "", 67, 340, 143, 150, 10
		AUTOCHECKBOX    "", 68, 340, 153, 150, 10
		AUTOCHECKBOX    "", 69, 340, 163, 150, 10	
		AUTOCHECKBOX    "", 70, 340, 173, 150, 10		
		AUTOCHECKBOX    "", 71, 340, 183, 150, 10
		AUTOCHECKBOX    "", 72, 340, 193, 150, 10
		AUTOCHECKBOX    "", 73, 340, 203, 150, 10		
		AUTOCHECKBOX    "", 74, 340, 213, 150, 10
		AUTOCHECKBOX    "", 75, 340, 223, 150, 10			
		PUSHBUTTON		"", ID_SAVE, 114,255,49,19,BS_FLAT, WS_EX_DLGMODALFRAME	
	GROUPBOX		"", ID_LANG_DESC,2,252,110,22, BS_CENTER | BS_FLAT
		AUTORADIOBUTTON   "", ID_LANG_ENG, 8, 261, 56, 10, NOT WS_TABSTOP | WS_GROUP
		AUTORADIOBUTTON   "", ID_LANG_RUS, 64, 261, 45, 10, NOT WS_TABSTOP
	GROUPBOX "", 2032,166,238,341,36, BS_CENTER	
		LTEXT "", 2033,173,245,160,10, ES_CENTER | BS_VCENTER
		LTEXT "", 2034,340,245,160,10, ES_CENTER | BS_VCENTER
		COMBOBOX	76,173,255,160,352,CBS_DROPDOWN | WS_VSCROLL | 1
		COMBOBOX	77,340,255,160,352,CBS_DROPDOWN | WS_VSCROLL | 1			
END
;####################################################################################

